In [54]:
#the tools we need
import requests
import pandas as pd
import numpy as np
import pysal

In [99]:
#fetch new SU data from kobotoolbox via the old API. Probably this will change when they finish the new API
url = "https://kc.kobotoolbox.org/api/v1/data/300075"

headers = {
    'content-type': "multipart/form-data",
    'Authorization': "Token 0239eed59b53ae940ca8835302b6ad360c8fc540",
    }

#querystring = {"group_mf1hs18/Stratigraphic_Reliability":"poor"}
kobo = requests.get(url, params=querystring, headers=headers)
#response_json = response.json()
#print(response.text)
#print first 4000 characters of response
print(kobo.text[:1000])
#print(response_json)

[{"group_ak4kk32/Colour":"brown","_notes":[],"group_mo76v47/Total_bulk_finds":"5","_bamboo_dataset_id":"","_tags":[],"group_ak4kk32/Soil_Composition_Percentage_Clay":"20","group_bu1ca84_row_1/group_bu1ca84_row_1_column":"Few","group_ye2st39/Filled_out_by":"edward_stewart","group_bu1ca84_row_2/group_bu1ca84_row_2_column_1":"No Tufo was found","group_bu1ca84_row_2/group_bu1ca84_row_2_column":"None","group_mf1hs18/group_qy7um66/Photo_models":"no","group_mf1hs18/Position":"all around the trench","_xform_id_string":"aFQDtwfYLpWjyYb6Uc5nMp","group_ye2st39/SU_Closed":"no","group_sb6os40_currentrelate/group_sb6os40_currentrelate_SU2":"99999","group_sb6os40_currentrelate/group_sb6os40_currentrelate_SU1":"9999","group_mf1hs18/Formation_Process":"accumulation","group_ak4kk32/Soil_Composition_Percentage_Silt":"40","group_ak4kk32/Matrix":"cohesive","group_mf1hs18/Approximate_date_of_SU":"21st C AD","end":"2019-06-27T04:06:58.479-04:00","group_qu1tl04/Eastern_limit":"excavation_lim","group_mf1hs18/g

In [102]:
#optional step: back up new data to a local file. 
new_file=open("C:\\temp\\kobo.json",mode="w",encoding="utf-8")
new_file.write(kobo.text)
new_file.close()

In [105]:
#convert kobo json to a pandas dataframe
kobo_su=pd.read_json(kobo.text)
kobo_su.head()

,Area,Definition,Excavation_Year,Formation_Process,Publishing_Status,SU_001,SU_Type,Stratigraphic_Reliability,__version__,_attachments,...,group_yp0fv41/Cut_bottom_edge,group_yp0fv41/Cut_edges,group_yp0fv41/Cut_observations,group_yp0fv41/Cut_sides,group_yp0fv41/Cut_top_edge,meta/deprecatedID,meta/instanceID,start,today,username
0,area_i,A test SU for the purpose of this form's creat...,2019.0,intentional_de,beta,9999,anthropogenic,good,vASoWNKpGrMiWMYtnspLZ9,[],...,NaN,NaN,NaN,NaN,NaN,uuid:3214a397-fc61-4eb7-b9c0-e33931ed6995,uuid:4f0fd312-ecc5-49a5-93a2-fe3a668d3c97,2019-06-23T20:24:52.369+01:00,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,9999,NaN,NaN,vT5AVpWUbRN4hXkW6KpKek,[],...,NaN,NaN,NaN,NaN,NaN,NaN,uuid:37aae4fb-30e8-4adb-baff-c4b732fd8d5f,2019-06-27T03:52:51.969-04:00,NaN,NaN
2,NaN,NaN,NaN,NaN,beta,9998,NaN,NaN,vjuQCNvQx2tVSXENUzPoHx,[],...,NaN,NaN,NaN,NaN,NaN,uuid:5bbece0f-a5f5-4998-8ef2-31ec22e99117,uuid:c77bcd48-d876-4b17-b33e-7f1f9947192b,2019-06-27T04:57:19.848-04:00,NaN,NaN
3,NaN,NaN,NaN,NaN,beta,1314,NaN,NaN,vjuQCNvQx2tVSXENUzPoHx,[],...,sharp,rounded,NaN,concave,sharp,NaN,uuid:56908e9d-bc9f-47f0-989a-d98de51813d0,2019-06-27T05:33:50.763-04:00,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,9999,NaN,NaN,vPzHY9gqVnLowgERod6kw8,"[{'mimetype': 'image/jpeg', 'download_url': 'h...",...,NaN,NaN,NaN,NaN,NaN,NaN,uuid:b67f09c8-ecaa-42a9-a06b-3ebfb780f760,2019-07-01T15:02:30.493+01:00,2019-07-01,username not found

In [106]:
#read in legacy data from the ARK
legacy_su = pd.read_csv('https://raw.githubusercontent.com/ropitz/gabii_experiments/master/data/su_report.csv',sep=';')
legacy_su.head()

,ID,PUB_STATUS,PUB_YEAR,DEFINITION,FORMATION_PROCESS,LAYER_DATE_START,LAYER_DATE_START_SUFFIX,LAYER_DATE_END,LAYER_DATE_END_SUFFIX,LAYER_DATE_OBSERVATIONS,...,IS_ABUTTED_BY,COVERS,IS_COVERED_BY,CUTS,IS_CUT_BY,FILLS,IS_FILLED_BY,IS_BOUND_TO,BINDS_TO,EQUALS
0,0,Published,2016,NaN,NaN,900,BC,50,BC,In Area A in 2010; amphora fragment non-diagno...,...,NaN,"1, 3, 5, 17, 19, 24, 26, 28, 30, 32, 34, 36, 3...","3393, 5788",NaN,1319,"112, 358, 360, 3423, 5427, 5501, 5502, 5503, 5...",NaN,NaN,NaN,"1000, 1000"
1,1,Beta,0,Bedrock identified in 2009,Accumulation,0,NaN,0,NaN,NaN,...,"580, 581",502,"0, 26, 109, 229, 293, 479, 487, 511, 516, 577,...","254, 488","6, 18, 20, 23, 25, 27, 29, 31, 33, 35, 37, 39,...",NaN,391,NaN,NaN,330
2,3,Beta,0,Fill of cut SU4,Accumulation,400,BC,100,BC,"re-assessed in 2016 (by L. Banducci, when she ...",...,NaN,"7, 10",0,NaN,2,4,NaN,NaN,NaN,NaN
3,4,Beta,0,Rectangular cut in bedrock,Cutting,0,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,"2, 23",NaN,"3, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 21, 22",NaN,NaN,23
4,5,Beta,0,"Layer of brown, silty clay",Accumulation,900,BC,500,BC,Periodo Laziale,...,NaN,NaN,0,NaN,2,6,NaN,NaN,NaN,NaN

In [107]:
#optional: select the parts of the kobo SU sheet you want by their column names
kobo_su_sub = kobo_su[["SU_001","Area","Definition","Publishing_Status"]]
kobo_su_sub

,SU_001,Area,Definition,Publishing_Status
0,9999,area_i,A test SU for the purpose of this form's creat...,beta
1,9999,NaN,NaN,NaN
2,9998,NaN,NaN,beta
3,1314,NaN,NaN,beta
4,9999,NaN,NaN,NaN
5,7800,NaN,NaN,NaN
6,9987,NaN,NaN,beta
7,7234,NaN,NaN,NaN
8,9999,NaN,NaN,published

In [113]:
#select the parts of the legacy SU sheet you want by their column names. This should be the same set as the kobo selection
legacy_su_sub = legacy_su[["ID","EXCAV_AREA","DEFINITION","PUB_STATUS"]]
legacy_su_sub.head()

   ID EXCAV_AREA                  DEFINITION PUB_STATUS
0   0          A                         NaN  Published
1   1          A  Bedrock identified in 2009       Beta
2   3          A             Fill of cut SU4       Beta
3   4          A  Rectangular cut in bedrock       Beta
4   5          A  Layer of brown, silty clay       Beta

In [130]:
#rename any silly column names for each dataframe
kobo_su_sub.rename(columns={'SU_001':'SU'}, 
                 inplace=True)
kobo_su_sub.head()

C:\Users\gabii4\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,SU,Area,Definition,Publishing_Status
0,9999,area_i,A test SU for the purpose of this form's creat...,beta
1,9999,NaN,NaN,NaN
2,9998,NaN,NaN,beta
3,1314,NaN,NaN,beta
4,9999,NaN,NaN,NaN

In [131]:
#rename any silly column names for each dataframe
legacy_su_sub.rename(columns={'ID':'SU','EXCAV_AREA':'Area','DEFINITION':'Definition','PUB_STATUS':'Publishing_Status'}, 
                 inplace=True)
legacy_su_sub.head()

C:\Users\gabii4\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

   SU Area                  Definition Publishing_Status
0   0    A                         NaN         Published
1   1    A  Bedrock identified in 2009              Beta
2   3    A             Fill of cut SU4              Beta
3   4    A  Rectangular cut in bedrock              Beta
4   5    A  Layer of brown, silty clay              Beta

In [132]:
#stack the two together to integrate, preview the first twenty entries
su_stack = pd.concat([kobo_su_sub, legacy_su_sub], axis=0)
su_stack.head(20)

,SU,Area,Definition,Publishing_Status
0,9999,area_i,A test SU for the purpose of this form's creat...,beta
1,9999,NaN,NaN,NaN
2,9998,NaN,NaN,beta
3,1314,NaN,NaN,beta
4,9999,NaN,NaN,NaN
5,7800,NaN,NaN,NaN
6,9987,NaN,NaN,beta
7,7234,NaN,NaN,NaN
8,9999,NaN,NaN,published
0,0,A,NaN,Published
1,1,A,Bedrock identified in 2009,Beta
2,3,A,Fill of cut SU4,Beta
3,4,A,Rectangular cut in bedrock,Beta
4,5,A,"Layer of brown, silty clay",Beta
5,6,A,Cut in bedrock,Beta
6,7,A,Layer of rocks mixed with brown clay,Beta
7,8,A,Cluster of mortar on Northwest side of cut,Beta
8,9,A,Cluster of mortar in SE side of SU4,Beta
9,10,A,Cluster of roof tiles in SW corner of SU4,Beta
10,11,A,Layer of brown sandy clay,Published

In [123]:
#filter on field values from both lists
published = ['Published','published']
published_su = su_stack.loc[su_stack['Publishing_Status'].isin(published)]
published_su.head(20)

,SU,Area,Definition,Publishing_Status
8,9999,NaN,NaN,published
0,0,A,NaN,Published
10,11,A,Layer of brown sandy clay,Published
360,363,A,N-S wall,Published
457,462,A,Oval cut filled by SU451,Published
617,999,D,Beater SU. This SU is a test,Published
634,1016,B,Post-abandonment colluvial layer,Published
676,1058,B,Wall running N-S in western part of area B - s...,Published
742,1124,B,upper fill of cappucina tomb Lordy Gaga,Published
753,1135,B,rubble wall - perpendicular to 1058 - west to ...,Published
774,1156,B,rubble layer,Published
776,1158,B,surface inside 'room' at S edge of excavation ...,Published
780,1162,B,perpendicular continuation of rubble wall 1135,Published
781,1163,B,rubble wall continuation of 1135,Published
783,1165,B,"yellowish, silty soil south",Published
786,1168,B,layer containing soil and gravel,Published
787,1169,B,yellowish layer north of wall 1135,Published
788,1170,B,ditch for rubble wall 1135,Published
789,1171,B,cut for trench built wall 1163,Published
791,1173,B,Crushed tufo floor,Published

In [133]:
#go back a step and clean up values in the columns to match between tables
su_stack.replace({'area_i':'I','published':'Published'},inplace=True)
su_stack.head(20)

,SU,Area,Definition,Publishing_Status
0,9999,I,A test SU for the purpose of this form's creat...,beta
1,9999,NaN,NaN,NaN
2,9998,NaN,NaN,beta
3,1314,NaN,NaN,beta
4,9999,NaN,NaN,NaN
5,7800,NaN,NaN,NaN
6,9987,NaN,NaN,beta
7,7234,NaN,NaN,NaN
8,9999,NaN,NaN,Published
0,0,A,NaN,Published
1,1,A,Bedrock identified in 2009,Beta
2,3,A,Fill of cut SU4,Beta
3,4,A,Rectangular cut in bedrock,Beta
4,5,A,"Layer of brown, silty clay",Beta
5,6,A,Cut in bedrock,Beta
6,7,A,Layer of rocks mixed with brown clay,Beta
7,8,A,Cluster of mortar on Northwest side of cut,Beta
8,9,A,Cluster of mortar in SE side of SU4,Beta
9,10,A,Cluster of roof tiles in SW corner of SU4,Beta
10,11,A,Layer of brown sandy clay,Published

In [147]:
#merge multiple rows with the same SU id to merge changes. Come up with a better way to do this. 
su_stack_clean = su_stack.groupby(['SU']).agg(lambda x: ';;'.join(x.astype(str))).reset_index()
su_stack_clean.head()

   SU Area                  Definition Publishing_Status
0   0    A                         nan         Published
1   1    A  Bedrock identified in 2009              Beta
2   3    A             Fill of cut SU4              Beta
3   4    A  Rectangular cut in bedrock              Beta
4   5    A  Layer of brown, silty clay              Beta

In [153]:
#choose a row with a merged info set to see what it looks like
su_stack_clean.loc[su_stack_clean['SU'] == 9999]

,SU,Area,Definition,Publishing_Status
4581,9999,I;;nan;;nan;;nan;;H,A test SU for the purpose of this form's creat...,beta;;nan;;nan;;Published;;Beta

 token is: 0239eed59b53ae940ca8835302b6ad360c8fc540
 project is: aFQDtwfYLpWjyYb6Uc5nMp

 form is: 300227 gabii dev
form is: 300075 gabii SU